@import "./fonction.scss";
#login{

  .yd-cell-right{
    font-size: rem(15);
    text-align: left;
    padding-left: rem(39);
  }
  .yd-cell-arrow span{
    width: 100%;
  }
  .yd-cell-left{
    width: rem(50);
    font-size: rem(15);
  }
  .yd-cell-box{
    margin-top: rem(20);
    margin-bottom: rem(20);
  }
  .yd-cell:after{
    border-bottom: 0;
  }
}
